<div id="galeria" class="section_clientes">
    <div class="container-fluid">
        <div class="row jf_section_1 d-flex align-items-stretch">
            <div class="col-md-6 d-flex flex-column justify-content-center">
                <br>
                <h2 class="margen_presentacion"><b>Clientes</b></h2>
                <h3><i><b>Nuestros principales clientes</b></i></h3>
                <hr class="jf_cont_sec_1_link hr">
                <p class="justificado2 flex-grow-1">En el mundo empresarial actual, la oferta de productos y servicios de calidad es solo una parte del éxito. 
                    La verdadera diferenciación radica en la capacidad de construir relaciones sólidas y duraderas con nuestros clientes. 
                    La asociatividad es fundamental para fomentar un ambiente de confianza y colaboración, lo que se traduce en beneficios mutuos.   
                    La asociatividad con nuestros clientes es un pilar fundamental para el crecimiento y sostenibilidad de cualquier negocio. 
                </p>
            </div>
            <div class="col-md-6 text-center jf_cont_sec_2_link d-flex align-items-center justify-content-center">
                <img src="/static/img/Clientes.PNG" alt="" class="img-fluid custom-img">
            </div>
        </div>
    </div>
</div>