<div id="inicio" class="full-width-section section-margin px-sm-3">
    <div class="common-class fondo_inicio">
        <div class="row jf_section_1">
            <div class="col-lg-9 col-md-9 col-sm-12 px-0 margen-superior"> 
                <br>
                <br>
                <h1 class="margen-izquierdo">Industria del Petroleo y Gas</h1>
                <p class="linea-footer justificado"><b>
                    <h2 class="margen-izquierdo izquierda">Bienvenidos a Tradicom S.A.</h2>
                    <h3 class="margen-izquierdo izquierda blanco">Soluciones Integrales para la Industria del Petróleo y Gas</h3>
                    <p class="texto-p">En Tradicom S.A. nos especializamos en la comercialización de productos y servicios de alta calidad 
                        diseñados para satisfacer las demandas más exigentes de la industria del petróleo y gas. Con mas de 30 años 
                        de experiencia en el sector, ofrecemos soluciones innovadoras y confiables que optimizan los procesos de exploración, 
                        producción, transporte y refinación de hidrocarburos.
                    <br>Contamos con una amplia gama de productos especializados para las diversas fases de la cadena de valor del petróleo y gas, 
                       siempre alineados con los más altos estándares de calidad y seguridad</p>
            </div>
            <div class="jf_cont_img col-lg-3 col-md-3 col-sm-12">
            </div>
        </div>
    </div>
</div>