<div id="presentacion" class="section_presentacion">
    <div class="container-fluid">
        <div class="row jf_section_1 d-flex align-items-stretch">
            <div class="col-md-6 d-flex flex-column">
                <br>
                <h2 class="margen_presentacion"><b>Presentacion</b></h2>
                <h3><i><b>Especialistas en optimización de Procesos</b></i></h3>
                <hr class="jf_cont_sec_1_link hr">
                <p class="justificado flex-grow-1">Tradicom SA es su aliado en la provisión de tecnología avanzada para optimizar procesos en las industrias de Oil & Gas, 
                    refinación, energía y petroquímica. Con más de 30 años de experiencia, colaboramos con líderes mundiales en tecnología 
                    para asegurar eficiencia, fiabilidad y soluciones personalizadas que mejoran la producción de nuestros clientes.             
                </p>
            </div>
            <div class="col-md-6 text-center jf_cont_sec_2_link d-flex align-items-center justify-content-center">
                <img src="/static/img/oil-and-gas_detection-control_productcard.jfif" alt="" class="img-fluid custom-img">
            </div>
        </div>
    </div>
</div>

